@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body,
p {
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: white;
}

p {
  font-weight: 900;
}

#a {
  opacity: 0.4;
  color: rgba(0, 0, 0, 0.863);
  font-size: 2.25em;
  text-align: center;
  width: 3em;
  border-radius: 5px;
}

main {
  width: 50vw;
  height: 50vh;
  margin: auto;
  /* padding: 6em; */
}

header {
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  padding: 30px 0;
}

section {
  background: #1f2937;
  line-height: 2.5;
}
 header, section {
  padding: 2em;
 }

 output {
  color: #D2D2D2;
  font-size: small;
 }

 h1 {
  font-size: 1.2em;
 }